<!-- modified from this tutorial https://medium.com/trabe/oauth-authentication-in-django-with-social-auth-c67a002479c1 -->
{% extends 'tutor/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}



<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div class="jumbotron">
  <div class="text-left">
    <img src="static/tutor/QuickTutor.png" width=full-width>
  </div>
  {% if user.is_authenticated %}
  <!--      <a class="btn btn-primary" href="tutor/logout/">Logout</a>-->
  {% if user.profile.first_name %}
  <h4 class="display-4">Welcome back {{ user.profile.first_name }}!</h4>
  {% else %}
  <h4 class="display-4">Welcome! Please set up your account!</h4>
  {% endif %}
  <p class="lead">
    QuickTutor is the tutoring service for customers and tutors on-the go, connecting students all over Grounds.
    <hr class="my-4">
    <p class="lead">
      Got a problem? We'll get you someone who can help you solve it.
    </p>
  </p>
  <div class="text-center">
    <button class="requestTutor btn-info btn-lg" type="button" data-toggle="modal" data-target="#requestTutor" onclick="location.href='{% url 'tutor:requestTutor' %}'">
      Request A Tutor
    </button>
    <button class="requestTutor btn-info btn-lg" type="button" href="{% url 'tutor:job_list' %}">
      Start Tutoring
    </button>
  </div>
  {% else %}
  <h4 class="display-4">Welcome</h4>
  <p class="lead">
    QuickTutor is the tutoring service for customers and tutors on-the go, connecting students all over grounds.
    <hr class="my-4">
    <p class="lead">
      Got a problem? We'll get you someone who can help you solve it.
    </p>
  </p>
  <div class="col s12 m6 offset-m3 center-align">
    <a class="oauth-container btn darken-4 white black-text" href="{% url 'social:begin' 'google-oauth2' %}"
      style="text-transform:none">
      <div class="left">
        <img width="20px" style="margin-top:-4px; margin-right:10px" alt="Google sign-in"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
      </div>
      Login with Google
    </a>
  </div>
  {% endif %}


  <div class="modal fade" id="requestTutor" tabindex="-1" role="dialog" aria-labelledby="requestTutor"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            {{ form|crispy }}
          </div>


      </form>

    </div>
  </div>

  <!-- script type="text/javascript">
  $(document).ready(function () {

    $(".requestTutor").modalForm({
      formURL: "{% url 'tutor:requestTutor' %}"
    });
  });
</script> -->
  {% endblock %}
  <!--
</body>
</html>-->