{% extends 'tutor/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% bootstrap_css %}

{% block content %}
<div class="container-fluid"> 
<form method="POST">
    {% csrf_token %}
    <h1 class="page-header">
        Available Jobs
    </h1>
    <p>
        No Jobs? Try updating your account profile with subjects you would be interested in tutoring.
    </p>
    {% if user.profile.phone_number == ""  %}
               <meta http-equiv="Refresh" content="0; url=/student" />
                {% endif %}
            {% if user.profile.last_name == ""  %}
               <meta http-equiv="Refresh" content="0; url=/student" />
                {% endif %}
            {% if user.profile.first_name == ""  %}
               <meta http-equiv="Refresh" content="0; url=/student" />
                {% endif %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Select</th>
                <th>Client</th>
                <th>Subject</th>
                <th>Course</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Meeting Location</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for job in job_list %}
            <tr>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="selected_job" id="{{ job.id }}" value="{{ job.id }}" unchecked>
                        <label class="custom-control-label" for="{{ job.id }}"></label>
                      </div>
                </td>
                <td>{{ job.customer_profile.first_name }} {{ job.customer_profile.last_name }}</td>
                <td>{{ job.subject }}</td>
                <td>{{ job.course }}</td>
                <td>{{ job.customer_profile.email_addr }}</td>
                <td>{{ job.customer_profile.phone_number }}</td>
                <td>{{ job.location }}</td>
                <td>{{ job.notes }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="10" class="text-center bg-warning">No available jobs</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-info btn-sm">Confirm Jobs</button>
</form>
</div>
{% endblock %}