{% extends 'tutor/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title"> Thank you for using QuickTutor today! Please finish your session by paying $4.99 </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            {{ form|crispy }}
          </div>

        <div id="paypal-button-container"></div>
<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD" data-sdk-integration-source="button-factory"></script>
<script>
  paypal.Buttons({
      style: {
          shape: 'rect',
          color: 'gold',
          layout: 'vertical',
          label: 'pay',

      },
      createOrder: function(data, actions) {
          return actions.order.create({
              purchase_units: [{
                  amount: {
                      value: '4.99'
                  }
              }]
          });
      },
      onApprove: function(data, actions) {
          return actions.order.capture().then(function(details) {
alert('Transaction successful! We hope you will use QuickTutor again!');
            window.location.replace("../paymentConfirmation");
          });
      }
  }).render('#paypal-button-container');
</script>
      </form>
  {% endblock %}