{% extends 'tutor/base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% block content %}
<div class="container-fluid">

    {% csrf_token %}
    <h1 class="page-header">
        Requested Jobs
    </h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Status</th>
                <th>Tutor</th>
                <th>Subject</th>
                <th>Course</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Meeting Location</th>
                <th>Notes</th>
                <th>Session</th>
            </tr>
        </thead>
        <tbody>
            {% for job in job_list %}
            <tr>
                <td>
                    {% if job.tutor_profile != None %}
                    <span>&#9989;</span>
                    {% else %}
                    <span>&#8987;</span>
                    {% endif %}
                </td>
                <td>
                    {% if job.tutor_profile != None %}
                    {{ job.tutor_profile.first_name }} {{ job.tutor_profile.last_name }}
                    {% else %}
                    Not Assigned
                    {% endif %}
                </td>
                <td>{{ job.subject }}</td>
                <td>{{ job.course }}</td>
                <td>
                    {% if job.tutor_profile != None %}
                    {{ job.tutor_profile.email_addr }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    {% if job.tutor_profile != None %}
                    {{ job.tutor_profile.phone_number }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>{{ job.location }}</td>
                <td>{{ job.notes }}</td>
                <td>
                    {% if job.tutor_profile != None and job.started %}
                        <a class="btn btn-info" href="{% url 'tutor:session' job.id %}">
                            Join
                        </a>
                    {% else %}
                        {% if job.tutor_profile != None and job.isConfirmed %}
                            <button type="button" class="btn btn-info" disabled>Waiting on Tutor</button>
                        {% else %}
                            <button type="button" class="btn btn-info" disabled>Waiting for Match</button>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="10" class="text-center bg-warning">No jobs requested</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}