{% extends 'tutor/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% bootstrap_css %}
{% load easy_maps_tags %}
{% block content %}

<div class="container-fluid">
  <div class="border border-light p-3 mb-4">
    <h1 class="text-light" style="background-color:#F46036; padding: 1rem;">Current Tutoring Session</h1>
        {% if user == job.customer_user %}
          <h4><i>{{ job.tutor_profile.first_name }} will tutor you in {{ job.course }} at {{ job.location }}.</i></h4>
        {% endif %}

        {% if user == job.tutor_user %}
          <h4><i>You'll be tutoring {{ job.customer_profile.first_name }} in {{ job.course }} at {{ job.location }}.</i></h4>
        {% endif %}

    <div class="row">
      <div class="col-sm-6" style="background-color:whitesmoke;">
          <h5>Meet at {{ job.location }} to begin the session.</h5>
          <div class=text-align>
            {% with 450 as w and 400 as h and "easy_maps/map.html" as t  %}
            {% easy_map job.location w h using t %}
            {% endwith %}
          </div>
      </div>

      <div class="col-sm-3">
        <div class="card" style="width: 18rem; background-color:#CDEDF6;display:inline-block;">
          <img class="card-img-top" src="{{  job.customer_profile.get_pic_url  }}" alt="img">
          <div class="card-body">
            <h3 class="card-title">Student</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" style="background-color:#CDEDF6;">{{ job.customer_profile.first_name }} {{ job.customer_profile.last_name }}</li>
              <li class="list-group-item" style="background-color:#CDEDF6;">{{ job.customer_profile.phone_number }}</li>
              <li class="list-group-item" style="background-color:#CDEDF6;">{{ job.customer_profile.email_addr }}</li>
              {% if user == job.customer_user %}
              <li class="list-group-item" style="background-color:#CDEDF6;">
                <h6>Your Notes:</h6>
                <p class="card-text" style="background-color:#CDEDF6;">{{ job.notes }}</p>
              </li>
              {% endif %}
              {% if user == job.tutor_user %}
                <li class="list-group-item" style="background-color:#CDEDF6;">
                  <h6>Student's Notes:</h6>
                  <p class="card-text" style="background-color:#CDEDF6;">{{ job.notes }}</p>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class=container-fluid>
          <div class="card" style="width: 18rem; background-color:#CDEDF6;display:inline-block;">
            <img class="card-img-top" src="{{  job.tutor_profile.get_pic_url  }}" alt="img">
            <div class="card-body">
              <h3 class="card-title">Tutor</h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" style="background-color:#CDEDF6;">{{ job.tutor_profile.first_name }} {{ job.tutor_profile.last_name }}</li>
                <li class="list-group-item" style="background-color:#CDEDF6;">{{ job.tutor_profile.phone_number }}</li>
                <li class="list-group-item" style="background-color:#CDEDF6;">{{ job.tutor_profile.email_addr }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=text-center>
  <input class="form-checks" type="radio" name="radioButtons" value="1" checked="checked"><br/>
  <p>
    <button class="cancelSession btn-danger btn-lg" type="button" data-toggle="modal" data-target="#cancelSession" style="background-color: darkred;">
      Cancel
    </a>
    <!-- <button class="btn-danger btn-lg" type="button" style="background-color: darkred; color:white; border-spacing: 1rem;">Cancel</a> -->
    {% if user == job.customer_user %}
      <button class="endSession btn-info btn-lg" type="button" data-toggle="modal" data-target="#endSession">
        End Session
      </button>
    {% endif %}
  </p>
</div>

<div class="modal fade cancel-modal-sm" id="cancelSession" tabindex="-1" role="dialog" aria-labelledby="cancelSessionLabel" aria-hidden="true" style="width: 40%;">
  <div class="modal-dialog modal-dialog-centered" role="alert">
    <div class="modal-content" style="outline: none;">
      <div class="modal-header">
        <h4 class="modal-title" id="cancelSessionLabel"><b>Cancel Session</b></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Are you sure you want to cancel this session?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
        <a href="{% url 'tutor:cancel' job.id %}" class="btn btn-danger" style="background-color:darkred">Yes</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade end-modal-sm" id="endSession" tabindex="-1" role="dialog" aria-labelledby="endSessionLabel" aria-hidden="true" style="width: 40%;">
  <div class="modal-dialog modal-dialog-centered" role="alert">
    <div class="modal-content" style="outline: none;">
      <div class="modal-header">
        <h4 class="modal-title" id="endSessionLabel"><b>End Session</b></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method = "POST">
          <div class=text-center>
            Please Rate Your Tutor:
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="customRadio1" name="example" value="customEx">
              <label class="custom-control-label" for="customRadio1"><p class="font-weight-bold">1</p></label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="customRadio2" name="example" value="customEx">
              <label class="custom-control-label" for="customRadio2"><p class="font-weight-bold">2</p></label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="customRadio3" name="example" value="customEx">
              <label class="custom-control-label" for="customRadio3"><p class="font-weight-bold">3</p></label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="customRadio4" name="example" value="customEx">
              <label class="custom-control-label" for="customRadio4"><p class="font-weight-bold">4</p></label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="customRadio5" name="example" value="customEx">
              <label class="custom-control-label" for="customRadio5"><p class="font-weight-bold">5</p></label>
            </div>
          </div>
        </form>
        <hr/>
          <h7>
            After ending the session, we will redirect you to our payment methods and you will be charged a flat rate of $4.99.
          </h7>
          <h6>
            <b>
            Are you sure you want to end this session?
            </b>
          </h6>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
        <a href="{% url 'tutor:end' job.id %}" class="btn btn-danger" style="background-color:darkred">End Session</a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="requestTutor" tabindex="-1" role="dialog" aria-labelledby="requestTutor" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header">
            <h4 class="modal-title"> Please select one of the options below to complete your payment.</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div id="paypal-button-container"></div> -->

<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD" data-sdk-integration-source="button-factory"></script>
<script>
  paypal.Buttons({
      style: {
          shape: 'rect',
          color: 'gold',
          layout: 'vertical',
          label: 'pay',

      },
      createOrder: function(data, actions) {
          return actions.order.create({
              purchase_units: [{
                  amount: {
                      value: '4.99'
                  }
              }]
          });
      },
      onApprove: function(data, actions) {
          return actions.order.capture().then(function(details) {
              alert('Transaction successful! We hope you will use QuickTutor again!');
              window.location.replace("../../paymentConfirmation");
          });
      }
  }).render('#paypal-button-container');
</script>
      </form>

    </div>
  </div>

{% endblock content %}