{% extends 'tutor/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% bootstrap_css %}

{% block content %}
<h2>Current Tutoring Session</h2>
<img src="{{  job.customer_profile.get_pic_url  }}" width="120" alt="img">
<h5>Student: {{ job.customer_profile.first_name }} {{ job.customer_profile.last_name }}</h5>
<h5>Phone Number: {{ job.customer_profile.phone_number }}</h5>
<h5>Email Address: {{ job.customer_profile.email_addr }}</h5>

<br>
<img src="{{  job.tutor_profile.get_pic_url  }}" width="120" alt="img">
<h5>Tutor: {{ job.tutor_profile.first_name }} {{ job.tutor_profile.last_name }}</h5>
<h5>Phone Number: {{ job.tutor_profile.phone_number }}</h5>
<h5>Email Address: {{ job.tutor_profile.email_addr }}</h5>

<br>
<h5>Subject: {{ job.subject }}  </h5>
<h5>Course: {{ job.course }}  </h5>
<h5>Notes:</h5>
<p>{{ job.notes }}</p>
<h5>Location: {{ job.location }} </h5>

{% if user == job.customer_user %}
<button class="requestTutor btn-info btn-lg" type="button" data-toggle="modal" data-target="#requestTutor">
    End Session
</button>
{% endif %}

<div class="modal fade" id="requestTutor" tabindex="-1" role="dialog" aria-labelledby="requestTutor"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title"> Pay now to get matched with a tutor. Only $4.99!!!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            {{ form|crispy }}
          </div>

        <div id="paypal-button-container"></div>
<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD" data-sdk-integration-source="button-factory"></script>
<script>
  paypal.Buttons({
      style: {
          shape: 'rect',
          color: 'gold',
          layout: 'vertical',
          label: 'pay',

      },
      createOrder: function(data, actions) {
          return actions.order.create({
              purchase_units: [{
                  amount: {
                      value: '4.99'
                  }
              }]
          });
      },
      onApprove: function(data, actions) {
          return actions.order.capture().then(function(details) {
              alert('Transaction successful! We hope you will use QuickTutor again!');
              window.location.replace("../../paymentConfirmation");
          });
      }
  }).render('#paypal-button-container');
</script>
      </form>

    </div>
  </div>

{% endblock content %}