{% extends 'tutor/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% bootstrap_css %}

{% block content %}
<div class="content-section">
    <form method="POST" validate enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <div class="border border-light p-3 mb-4">
                <div class="text-left">
                    <h1> Your Current Info </h1>
                        {{ form|crispy }}
                </div>
        </fieldset>
        
            <p>
                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-lg">Save Changes</button>
                </div>
            </p>
        
        </form>
</div>
    {% endblock content%}