{% extends 'tutor/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% bootstrap_css %}

{% block content %}
<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <div class="border border-light p-3 mb-4">
                <div class="row">
                    <div class="col-md-4">
                        <div container="container-fluid" style="background-color:#F46036; padding: 1rem;">
                            <div class="text-center">
                                {% if user.profile.first_name and user.profile.last_name %} 
                                    <h3 class="text-light">
                                        {{ user.profile.first_name }} {{ user.profile.last_name }}
                                    </h3>
                                {%else%}
                                    <h3 class="text-secondary text-light">
                                        New User
                                    </h3>
                                {% endif %}
                            </div>
                            <div class="text-center">
                                <img src="{{  user.profile.get_pic_url  }}" class="rounded-circle" height="275px;" width="275px" object-fit="cover;" alt="img">
                                <p><p>
                                        <a class="btn btn-info btn-lg" href="{% url 'tutor:updateinfo' %}">Update Info</a>
                                </p></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div container="container-fluid" style="background-color:whitesmoke; padding: 1rem;">
                            <h2 class="text-light" style="background-color:#122C34; padding: 1rem;"> 
                                Your Profile
                            </h2>

                            {% if user.profile.first_name and user.profile.last_name %}
                                {% if user.profile.subjects_can_help %}
                                    <h4 class="text-info" style="padding: 0.5rem;"> <b>Student | Tutor</b></h4>
                                {% else %}
                                    <h4 class="text-info" style="padding: 0.5rem;"> <b>Student</b></h4>
                                {% endif %}
                                <h5 class="text-secondary" style="padding: 0.5rem;"> <b>First Name:</b> {{ user.profile.first_name }}</h5>
                                <h5 class="text-secondary" style="padding: 0.5rem;"> <b>Last Name:</b> {{ user.profile.last_name }}</h5>
                            {% else %}
                                <h5 class="text-secondary text-dark" style="padding: 0.5rem;"> 
                                    <i>Trying to request a tutor? Want to connect with our students?</i>
                                    <p><i><b>Make sure you have the correct information below.</b></i></p>
                                </h5>
                                <h4 class="text-info" style="padding: 0.5rem;"> <b>Student</b></h4>
                                <h5 class="text-secondary" style="padding: 0.5rem;"> <b>First Name:</b> None</h5>
                                <h5 class="text-secondary" style="padding: 0.5rem;"> <b>Last Name:</b> None</h5>
                            {% endif %}

                            {% if user.profile.email_addr %}
                                <h5 class="text-secondary" style="padding: 0.5rem;"> <b>Email:</b> {{ user.profile.email_addr }}</h5>
                            {% else %}
                                <h5 class="text-secondary" style="padding: 0.5rem;"> <b>Email:</b> None</h5>
                            {% endif %}

                            {% if user.profile.phone_number %}
                                <h5 class="text-secondary" style="padding: 0.5rem;"> <b>Phone Number:</b> {{ user.profile.phone_number }}</h5>
                            {% else %}
                                <h5 class="text-secondary" style="padding: 0.5rem;"> <b>Phone Number:</b> None</h5>
                            {% endif %}

                             <!-- CAN PORT OVER TO A DIFFERENT TEMPLATE IF NECESSARY -CALEB -->
                            {% if user.profile.subjects_can_help %}
                            <h5 class="text-secondary" style="padding: 0.5rem;"> <b>Subjects you tutor in:</b> </h5>
                            <ul class="list-group">
                                {% for subject in user.profile.subjects_can_help.all %}
                                <li class="list-group-item">{{ subject }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                                <h5 class="text-secondary"> <b>Subjects you tutor in:</b> None</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
        </fieldset>
    </form>
</div>
{% endblock content%}