h1 a{
  text-align: left;
}

.navbar-brand
{
    font-size: 40px;
}

.navbar
{
    font-family: 'Arvo';
    background-color: #122C34;
}

.nav-link
{
    color: #CDEDF6;
}

.button 
{
    background-color: rgba(0, 0, 0, 0.2)!important;
    width: 45%;
}

.jumbotron{
    width: 100%;
    height: 100%;
    background-image: url("home.png");
    position: relative;
    min-height : 100%;
    min-width : 100%;
    background-size:cover;
    background-repeat:no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
}

.img{
    object-fit: cover;
    object-position: center;
    width: 350px;
    height: 350px;
}
